
.swiper-pagination-bullet {
    width: 20px;
    height: 10px;
    background-color: #cccccc;  
    border-radius: 0;
    opacity: 1;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #CA943A; 
    width: 56px;
    border-radius: 0; 
  }
  
  .swiper-pagination-bullet:hover {
    background-color: #a77b30;
  }
  